.received-message-container {
  display: flex;
  justify-content: flex-start;
  margin: 10px
}

.received-message-bubble {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 20px 20px 20px 0; /* Rounded corners on the top and left */
  font-size: 16px;
  background-color: #E8D5FB; /* Brighter color */
  color: black;
  position: relative; /* For positioning the tail */
}

