.indevidualChatDiv{
    border-bottom: 2px solid black; 
    padding: 20px 15px 20px 10px;   /* Top, Right, Bottom, Left */       
    display: inline-block; 
    width: 100vw;
}

.modalChat > div > section{
    height: 76vh;
}