html, body{
    width: 100%;
    background-color: #E8F0FE;
    opacity: 0.95;
    height: 100%;
}

.chatsListPageDiv {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background-color: #E8F0FE;
  }
  
  .chatListDiv {
    flex: 1; 
    overflow-y: auto; 
  }

.indevidualChatDiv{
    border-bottom: 2px solid black; 
    padding: 20px 15px 20px 10px;   /* Top, Right, Bottom, Left */       
    display: inline-block; 
    width: 100vw;
}

.modalChat > div > section{
    height: 76vh;
}

.mantine-Modal-inner{
  left: 0;
}

