.footerDiv {
    width: 100%;
    border-top: 2px solid black;
    position: fixed;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: #E8F0FE;
  }
  
  .newChatButton {
    background-color: #9b59b6; 
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 50px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
    bottom: 20px;
    width: 50vw;
  }
  
  .newChatButton:hover {
    background-color: #8e44ad; 
  }
  
  .newChatButton .icon {
    margin-right: 8px; 
    width: 24px;
    height: 24px;
  }
  